@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<address>
    
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:shahin.sarker004@gmail.com">shahin.sarker004@gmail.com</a><br />
</address>