@model CarSalesDemo.ViewModel.VehicleFormViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car for Sale</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Build your own Vehicle</h2>
    </div>
</div>

@using (Html.BeginForm("Create", "Cars", FormMethod.Get))

{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.DropDownListFor(model => model.Vehicle.VehicleTypeId,
                            new SelectList(Model.VehicleTypes, "Id", "VehicleTypeName"),
                            " -- Select vehicle type -- ",
                            new { @class = "form-control" })

        @Html.ValidationMessageFor(model => model.Vehicle.VehicleTypeId)
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}

@section scripts
            {
    @Scripts.Render("~/bundles/jqueryval")
}